[submodule "lib/bootstrap-material-design"]
	path = lib/bootstrap-material-design
	url = git@github.com:FezVrasta/bootstrap-material-design.git
	branch = master
[submodule "lib/bootstrap"]
	path = lib/bootstrap
	url = git@github.com:twbs/bootstrap.git
	branch = master
[submodule "lib/arrive"]
	path = lib/arrive
	url = git@github.com:uzairfarooq/arrive.git
	branch = master